#ohmyfooter__index{
  background-color: black;
  opacity: 0.8;
  @extend %flexCol;
  & .footer__titre{
    font-family: "Shrikhand";
    font-size: larger;
    font-weight: 200;
    width: 90vw;
    margin: auto;
    color: white;
  }
  & ul{
      width: 90vw;
      margin:auto;
    }
  
  
  & .flist{
    margin: 10px 0;
    
    & .flist__text{
      color: white;
      
      }
    }
  }