/* Ma div loader par dessus mon body */

#loader{
  display: flex;
  align-items:center;
  justify-content: center;
  position:fixed;
  width: 100%;
  height: 100%;
  z-index:1;
  padding: 10% 0 ;
  
}
/*Les tailles de ma div qui est animer */

#block{
  display: flex;
  width: 120px;
  height: 120px;
}

/*Les élements interieur graphique ou de placements de mon animation */

.loader__animation{
  display: flex;
  align-items: flex-end;
  background:darken($couleur-tertiaire,20);
  width: 100%;
  height: 100%;
  border: 5px solid;
  border-top-color:$couleur-secondaire;
  border-left-color: $couleur-primaire;
  border-right-color:$couleur-primaire;
  border-bottom-color:$couleur-secondaire ;
  border-radius: 50%;
  & .couvert{
    display:flex ;
    width:30%;
    height: 100%;
    justify-content: center;
    align-items: center;
  & img{
      height: 70%;
    }  
  }

  & #tour{
    display: flex;
    justify-content: center;
    width: 70%;
    height: 100%;
    @media screen and (min-width:(map-get($breakpoints , tablet-portrait ))){
      width: 100%;
    }
      & img{
      width: 100%;
      }
    }
}


