main{
  background-color:$couleur-background
}

.all__restaurants{
  display: grid;
  grid-template-columns: 100%;
  width: 95%;
  margin: auto;
  justify-items: center;

    & .all__restaurants__header{
      width: 90%;
    }

    & .restaurants{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin:20px 0;
      height: 200px;
      width: 90%;
    }

      & .restaurants__thumbnail{
        @extend %flexCol;
        margin: 0;
        height: 100%;
        @extend %ombre;
        @extend %radius-top-thumbnail;
        @extend %radius-bottom-thumbnail;

        & .ancre-img{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          height: 70%;
          }

          & .image{
            height: 100%;
            width: 100%;
            flex-grow: 1;
            object-fit: cover;
            @extend %radius-top-thumbnail;
          }

        & figcaption{
            background-color:white;
            height: 30%;
            @extend %radius-bottom-thumbnail;
            @extend %flexCol;
            flex-wrap: wrap;
            justify-content: center;

            & .ancre-figcaption__titre{
              height: 100%;
            }

            & .figcaption__icon{
              display:flex;
              height: 100%;
              align-items: center;
              justify-content: center;
              position: relative;
              & .heart__1{
                font-size: 30px;
                position: absolute;
                color:black;
              }
              & .heart__2{
                font-size: 30px;
                position: absolute;
                color:transparent;

                &:hover{
                  animation-name: heart;
                  background: linear-gradient(280deg, $couleur-secondaire, $couleur-primaire);
                  background-clip: text;
                  -webkit-background-clip: text;
                  animation-duration: 2s;
                  cursor: pointer;
                }
              }  
            }
          }
        }
      }
  


.new-restaurant{
  position: absolute;
  background-color: $couleur-tertiaire;
  margin: 10px;
  padding: 0.5rem 1em;
  color:darken($couleur-tertiaire,40);
  align-self: end;

}
#body__index{
@extend %responsive__desktop__index
}