

.map{
  background-color: $couleur-background;
  @extend %flexCol;
  padding-bottom: 20px;
  justify-content: center;

  
    & .map__info{
      width: 100%;
      background-color:$couleur-background2;
      border-top: 2px solid $couleur-border;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & .map__info__icone{
        flex: 1 30%;
        text-align: end;
        color: $couleur-border;
      }
        .map__info__lieu{
          flex: 1 50%;
          text-align: start;
          padding-left: 1rem;
          color: $couleur-border;
        }
      }

    & .map__titre{
      text-align: center;
      width: 100%;
      margin: 10px auto;
      & .map__titre__decouvrir{
        font-size: larger;
        color: $couleur-border;
      }
    }

    & .map__form{
      width: 60%;
      text-align: center;
      padding : 10px 10px;
      margin: 5px auto;
      @extend %radius;
      @extend %ombre;
      @extend %gradient;

      & .map__bouton{
      
        color: white;
        font-size: medium;
      }

    }
  }


