

.map{
  background-color: $couleur-background;
  @extend %flexCol;
  padding-bottom: 20px;
  justify-content: center;

  
    & .map__info{
      width: 100%;
      background-color:$couleur-background2;
      border-top: 2px solid $couleur-border;
      display: flex;
      align-items: center;

      & #localisation{
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;      
        }
      }
    
    & .map__titre{
      text-align: center;
      width: 100%;
      margin: 10px auto;
      
      & .map__titre__decouvrir{
        font-size: larger;
        color: $couleur-border;
      }
    }

    & .map__form{
      
        text-align: center;

      & .map__bouton{
        
        
        text-align: center;
        padding : 10px 50px;
        margin: 5px auto;
        @extend %radius;
        @extend %ombre;
        @extend %gradient;
        color: white;
        font-size: medium;
      
      &:hover{
        @extend %boutonhover;
      }
    }
  }
}

