

  
.restaurants__header{
  
  height: 350px;
  margin: 0;
  
  
  & .image__header{
    object-fit: cover;
    height:90%;
    width: 100%;
}
}

.restaurants__header__figcaption{
  height: 10%;
  display: flex;
  background-color:$couleur-background;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width:100%;
  margin-top: -55px;
  position: absolute;

  & .restaurants__header__figcaption__header{
   display: grid;
   grid-template-columns: 1fr 1fr;
    margin: auto;
    font-family:"Shrikhand";
    font-size:small;
  & h1{
    min-width: 265px;
    margin:10px 10px;
  }
}
  & #restaurants__heart{
    flex: 1 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    & .heart{
      position: absolute;
      font-size: 30px;
      width: max-content;
    }
    & .heart__2{
      
    }  
  }
}

.carte{
  display: grid;
  justify-content: center;
  margin:auto;
  & .entre,.plat,.dessert{
      background-color: white;
      width: 90%;
      margin: 2rem auto;
      @extend %radius-bottom-thumbnail;
      @extend %radius-top-thumbnail;
      @extend %ombre;
      display: flex;
      flex-wrap: wrap;
      padding:0;
      max-width: 600px;
      & h3{
        width:100%;
        
      }
      & p{
        margin-bottom: 10px;
        width: 80%;
      }
  }
}

.menu__entre__titre::after,
.menu__plat__titre::after,
.menu__dessert__titre::after{
  border-top: 4px solid $couleur-tertiaire;
  display: block;
  
  width: 60px;
  content:"";
}

.price{
  display: flex;
  height: 20px;
  align-items: center;
  justify-content: center;
}

#commande{
  text-align: center;
  
  & button{
      width: 20%;
      min-width: 300px;
      max-width: 400px;
      text-align: center;
      padding : 15px 30px;
      margin: 15px auto;
      font-size: large;
      @extend %radius;
      @extend %ombre;
      @extend %gradient;
      color: white;
      &:hover{
        cursor: pointer;
        @extend %boutonhover;
      }
}
}


