
.restaurants__header{
  height: 350px;
  margin: 0;
  & .image__header{
    object-fit: cover;
    height:90%;
    width: 100%;
    }
}

.restaurants__header__figcaption{
  display: flex;
  background-color:$couleur-background;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width:100%;
  margin-top: -60px;
  position: absolute;

  & .restaurants__header__figcaption__header{
   display: grid;
   grid-template-columns: 1fr 1fr;
    margin: auto;
    font-family:"Shrikhand";
    font-size:small;

    & h1{
      min-width: 265px;
      margin:10px 10px;
    }
  }

  & #restaurants__heart{
    flex: 1 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    & .heart{
      position: absolute;
      font-size: 30px;
      width: max-content;
    }

    & .heart__2{
      font-size: 30px;
                position: absolute;
                color:transparent;
                &:hover{
                  animation-name: heart;
                  background: linear-gradient(280deg, $couleur-secondaire, $couleur-primaire);
                  background-clip: text;
                  -webkit-background-clip: text;
                  animation-duration: 2s;
                  cursor: pointer;
    }  }
  }
}

.carte{
  display: grid;
  justify-content: center;
  margin:auto;
  
  & .entre,.plat,.dessert{
      background-color: white;
      width: 90%;
      margin: 2rem auto;
      @extend %radius-bottom-thumbnail;
      @extend %radius-top-thumbnail;
      @extend %ombre;
      display: flex;
      padding:0;
      max-width: 600px;
      cursor: pointer;
      overflow: hidden;

      & h3{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
      }
      & p{
        white-space: nowrap;;
        margin-bottom: 10px;
        width: 100%;
        grid-column: 1 / 2;
        
        overflow: hidden;
        text-overflow: ellipsis;
        
      }
  }
}
.price{
  height: auto;
  text-align: center;
  flex-shrink: 0;
  width: 100%;
  grid-column: 2 / 3;
}
.block__menutext{
  width: 100%;
  display: grid;
  
  grid-template-columns: 2fr 1fr;
  text-overflow: ellipsis;
  overflow: hidden;
}
.entre,
.plat,
.dessert{
  &:hover .animation__check{
    animation-name: block-translation-hover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    cursor: pointer;
    background-color: $couleur-tertiaire;
  }
  &:hover .fa-check-circle {
  animation-name: rotation-icone;
  animation-duration: 1s;
  }

}
.animation__check{
  display: flex;
  transform-origin: right;
  width: 0%;
  align-items: center;
  justify-content: center;
  background:$couleur-tertiaire;
  height: auto;
  color: white;
}



.menu__entre__titre::after,
.menu__plat__titre::after,
.menu__dessert__titre::after{
  border-top: 4px solid $couleur-tertiaire;
  display: block;
  
  width: 60px;
  content:"";
}



#commande{
  text-align: center;
  
  & button{
      width: 20%;
      min-width: 300px;
      max-width: 400px;
      text-align: center;
      padding : 15px 30px;
      margin: 15px auto;
      font-size: large;
      @extend %radius;
      @extend %ombre;
      @extend %gradient;
      color: white;
      &:hover{
        cursor: pointer;
        @extend %boutonhover;
      }
}
}


