

  
.restaurants__header{
  
  height: 350px;
  margin: 0;
  
  
  & .image__header{
    object-fit: cover;
    height:90%;
    width: 100%;
}
}

.restaurants__header__figcaption{

  display: flex;
  background-color:$couleur-background;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width:100%;
  margin-top: -55px;
  position: absolute;

  & .restaurants__header__figcaption__header{
   display: grid;
   grid-template-columns: 1fr 1fr;
    margin: auto;
    font-family:"Shrikhand";
    font-size:small;
  & h1{
    min-width: 265px;
    margin:10px 10px;
  }
}
  & #restaurants__heart{
    flex: 1 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    & .heart{
      position: absolute;
      font-size: 30px;
      width: max-content;
    }
    & .heart__2{
      
    }  
  }
}

.carte{
  display: grid;
  justify-content: center;
  margin:auto;
  
  & .entre,.plat,.dessert{
      background-color: white;
      width: 90%;
      margin: 2rem auto;
      @extend %radius-bottom-thumbnail;
      @extend %radius-top-thumbnail;
      @extend %ombre;
      display: flex;
      padding:0;
      max-width: 600px;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: pointer;

      & h3{
        flex-shrink: 0;
        
      }
      & p{
        margin-bottom: 10px;
        flex-shrink: 0;
      }
  }
}

.block__menutext{
 flex-basis:0 0 80% ;
  display: flex;
  flex-wrap: wrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.entre,
.plat,
.dessert{
  &:hover .animation__check{
    animation-name: block-translation-hover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    cursor: pointer;
    background-color: $couleur-tertiaire;
    display: flex;
  }
}
.animation__check{
  
  
  display: flex;
  transform-origin: right;
  width: 0%;
  align-items: center;
  justify-content: center;
  background:$couleur-tertiaire;
  height: auto;
  color: white;
  margin: 0 0 0 150px ;
  
  
}

.menu__entre__titre::after,
.menu__plat__titre::after,
.menu__dessert__titre::after{
  border-top: 4px solid $couleur-tertiaire;
  display: block;
  
  width: 60px;
  content:"";
}

.price{
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 50px;
}

#commande{
  text-align: center;
  
  & button{
      width: 20%;
      min-width: 300px;
      max-width: 400px;
      text-align: center;
      padding : 15px 30px;
      margin: 15px auto;
      font-size: large;
      @extend %radius;
      @extend %ombre;
      @extend %gradient;
      color: white;
      &:hover{
        cursor: pointer;
        @extend %boutonhover;
      }
}
}


