/*Ma section stage avec une liste a puce stage block,
breakpoint tablette et desktop sur stage block
( changement vers grid et variation de la grille ensuite*/

.stage{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  background-color: white;

  & .stage__header {
    width: 95%;
    margin: 1rem;     
    }
}

.stage__block{
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      margin-bottom: 2rem;
      padding: 0;

      @media screen and (min-width:(map-get($breakpoints , tablet-portrait ))){
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;}
      @media screen and (min-width:(map-get($breakpoints , desktop ))){
        grid-template-columns: 1fr 1fr 1fr;
      }
}

.stage__block__btn{
      display: flex;
      align-items: center;
      text-align: center;
      padding : 1rem 2rem 1rem 1rem ;
      margin: 1rem;
      border-radius: 15px;
      background-color:$couleur-background;
      position: relative;
      justify-content: space-around;
      max-width: 380px;
      @extend %ombre;
      width: 70%;
      @media screen and (min-width:(map-get($breakpoints , tablet-portrait ))){
        align-self: center;
        min-width: 250px;
      }
      &.sbbtn3{
        grid-column: 1 / 3;
      } 
      @media screen and (min-width:(map-get($breakpoints , desktop ))){
      &.sbbtn3{
          grid-column: 3 / 3;
        }
      }
}

.stage__number{
      
      position: absolute;
      color: white;
      padding: 5px 10px;
      background-color: $couleur-primaire;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px; 
      margin-right: 95%;
}

.sbb__icon{
      color: rgba($color: #000000, $alpha: 0.5);
}

