@keyframes heart{
  0%{
    opacity: 0;
    }
  50%{
    opacity: 0.5;
    }
  100%{
    opacity: 1;
      }
}

@keyframes block-translation-hover{
  0% {
  transform: scaleX(0);
    }
  100% {
  transform: scaleX(1);
  width: 50%;
  }
}

@keyframes rotation-icone{
  0%{
    transform: rotate(0);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes translationY{
  0%{
    opacity: 0;
    transform: translateY(30px);
  }
  
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

.entre__1{
  animation-name: translationY;
  animation-duration: 1s;
  animation-delay: 0.1s;
}
.entre__2{
  animation-name: translationY;
  animation-duration: 1s;
  animation-delay: 0.2s;
}
.entre__3{
  animation-name: translationY;
  animation-duration: 1s;
  animation-delay: 0.3s;
}

.plat__1{
  animation-name: translationY;
  animation-duration: 1s;
  animation-delay: 0.4s;
}
.plat__2{
  animation-name: translationY;
  animation-duration: 1s;
  animation-delay: 0.5s;
}
.plat__3{
  animation-name: translationY;
  animation-duration: 1s;
  animation-delay: 0.6s;
}

.dessert__1{
  animation-name: translationY;
  animation-duration: 1s;
  animation-delay: 0.7s;
}
.dessert__2{
  animation-name: translationY;
  animation-duration: 1s;
  animation-delay: 0.8s;
}
.dessert__3{
  animation-name: translationY;
  animation-duration: 1s;
  animation-delay: 0.9s;
}