@keyframes heart{
  0%{
    opacity: 0;
    }
  50%{
    opacity: 0.5;
    }
  100%{
    opacity: 1;
      }
}

@keyframes block-translation-hover{
  0% {
  transform: scaleX(0);
    }
  100% {
  transform: scaleX(1);
  width: 50%;
  }
}

@keyframes rotation-icone{
  0%{
    transform: rotate(0);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
