/* les animation de mon loader */


@keyframes duration__loader{
  0%{
    background-color: rgba($color: white, $alpha: 0.8);
    
  }
  100%{
   z-index: -5;
   background-color: transparent;
   opacity: 0;
  }
}
@keyframes duration__loader__animation{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(2);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes ombre-animation {
  0%{
    box-shadow: 0 0 0 0px black;
  }
  50%{
    box-shadow: 0px 0px  80px black ;
  }
  100%{
    box-shadow: 0 0 0 black;
  }
}

@keyframes rotation__couvert{
  0%{
    transform: rotateZ(0);
  }
  100%{
    transform: rotateZ(1440deg);
  }
}
/* les animation de mes coeurs */

@keyframes heart{
  0%{
    opacity: 0;
    }
  50%{
    opacity: 0.5;
    }
  100%{
    opacity: 1;
    }
}

/* Mon icone à l'interieur de la translation, le hover est sur le meme block que la translation */
@keyframes rotation-icone{
  0%{
    transform: rotate(0);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

/* Ma keyframes translation sur --- axe y --- des blocks du menu */
@keyframes translationY{
  0%{
    opacity: 0;
    transform: translateY(30px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);

  }
}
/*----------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------- Mes animations ---------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------*/


/*Mon loader dans sont ensemble.*/

/*Mon animation du block contient 2 svg et 1 png*/
#block{
  animation:duration__loader__animation 2s linear forwards 0.2s;
}

.loader__animation{
animation: ombre-animation 2.2s ease-in-out;
}
/*l'animation de deux svg a l'interieur de block*/
.couvert{
  animation: rotation__couvert 2.1s cubic-bezier(0.2, 1.6, 0.5, 1.80) forwards 0.1s;
}
#loader{
  animation: duration__loader 3s step-end forwards;
}

/*boucle pour une meilleur maintenance de l'animation de translation y */

@for $elementn from 1 through map-get($map: $restaurant-nbelement, $key:la-palette-du-gout){
  .a#{$elementn}{
    opacity: 0;
    background-color: white;
    width: 90%;
    margin: 2rem auto;
    @extend %radius-bottom-thumbnail;
    @extend %radius-top-thumbnail;
    @extend %ombre;
    display: flex;
    padding:0;
    max-width: 600px;
    cursor: pointer;
    overflow: hidden;
    animation: translationY map-get($map: $animation-translation, $key:animation-duration ) map-get($map: $animation-translation, $key:animation-delay)*$elementn forwards;
  
  }
}

@for $elementn from 1 through map-get($map: $restaurant-nbelement, $key:a-la-francaise){
  .a#{$elementn}{
    opacity: 0;
    background-color: white;
    width: 90%;
    margin: 2rem auto;
    @extend %radius-bottom-thumbnail;
    @extend %radius-top-thumbnail;
    @extend %ombre;
    display: flex;
    padding:0;
    max-width: 600px;
    cursor: pointer;
    overflow: hidden;
    animation: translationY map-get($map: $animation-translation, $key:animation-duration ) map-get($map: $animation-translation, $key:animation-delay)*$elementn forwards;
  }
}
@for $elementn from 1 through map-get($map: $restaurant-nbelement, $key:la-note-enchante){
  .a#{$elementn}{
    opacity: 0;
    background-color: white;
    width: 90%;
    margin: 2rem auto;
    @extend %radius-bottom-thumbnail;
    @extend %radius-top-thumbnail;
    @extend %ombre;
    display: flex;
    padding:0;
    max-width: 600px;
    cursor: pointer;
    overflow: hidden;
    animation: translationY map-get($map: $animation-translation, $key:animation-duration ) map-get($map: $animation-translation, $key:animation-delay)*$elementn forwards;
  }
}
@for $elementn from 1 through map-get($map: $restaurant-nbelement, $key:le-delice-des-sens){
  .a#{$elementn}{
    opacity: 0;
    background-color: white;
    width: 90%;
    margin: 2rem auto;
    @extend %radius-bottom-thumbnail;
    @extend %radius-top-thumbnail;
    @extend %ombre;
    display: flex;
    padding:0;
    max-width: 600px;
    cursor: pointer;
    overflow: hidden;
    animation: translationY map-get($map: $animation-translation, $key:animation-duration ) map-get($map: $animation-translation, $key:animation-delay)*$elementn forwards;
  }
}