$couleur-primaire:#9356DC;
$couleur-secondaire:#FF79DA;
$couleur-tertiaire:#99E2D0;
$couleur-background:#f6f3f3;
$couleur-background2:#bdbcbc;

$couleur-border:#868585;

$breakpoints: (
  tablet-portrait:800px,
  desktop:1200px
);