%flexCol{
  display:flex;
  flex-direction: column;
  
}

%radius{
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

%radius-top-thumbnail{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

%radius-bottom-thumbnail{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

%ombre{
  box-shadow:5px 5px 10px $couleur-border ;
  

}

%margin-titre{
  margin:0 0 0 10px;
  padding:2px 0 ;
}

%gradient{
  background:linear-gradient(180deg,$couleur-secondaire,$couleur-primaire);
}

%boutonhover{
  background:linear-gradient(180deg, $couleur-secondaireL, $couleur-primaireL);
  box-shadow: 5px 5px 20px darken($couleur-background,60);
}




  
      
    
      



