%flexCol{
  display:flex;
  flex-direction: column;
  
}

%radius{
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

%radius-top-thumbnail{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

%radius-bottom-thumbnail{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

%ombre{
  box-shadow:5px 5px 10px $couleur-border ;
  

}

%margin-titre{
  margin:0 0 0 10px;
  padding:2px 0 ;
}

%gradient{
  background:linear-gradient(180deg,$couleur-secondaire,$couleur-primaire);
}

%responsive__tablette__restaurants{
  @media screen and (min-width:(map-get($breakpoints , tablet-portrait ))){

  .menu{
      display:grid;
      grid-template-columns: 1fr 2fr;
      border: 2px solid black;
      width: 95vw;
      margin: auto;
    & .menu__entre__titre,
      .menu__plat__titre,
      .menu__dessert__titre{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    & .entre,.plat,.dessert{
      width: 60vw;
    }

  }

}}

%responsive__desktop__restaurants{
  @media screen and (min-width:(map-get($breakpoints , desktop ))){

    #body__restaurants{
    
      background-color: $couleur-background;
    }
    
    #main__restaurants{
      width: 100%;
    }
    .restaurants__thumbnail{
      height: 30vw;
    & .image__header{
      object-fit: cover;
      height: 90%;
    }
    }
    & .restaurants__thumbnail__figcaption{
      height: 10%;
    }
    .hprojet{
      justify-content: space-around;
      align-items: center;
    }

    #ohmyfooter__index{
      width: 100vw;
      & ul{
      display: flex;
      & .flist{
        display: flex;
        flex-wrap: wrap;
        width: 30vw;
      }
    }
  }
  }
}

%responsive__tablette__index{
  @media screen and (min-width:(map-get($breakpoints , tablet-portrait ))){
   
    .stage__block{
      display: grid;
      justify-content: center;
    
    & .stage__block__btn{
      width: 50vw;
    }
  }
  
.all__restaurants{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 1fr 1fr;
  gap: 10px 10px;
  width: 98vw;

  & .all__restaurants__header{
    grid-column: 1 /span 2;
    place-items: auto;
    width: 90vw;
  }

  & .restaurants{
    width: 40vw;
  }

  }
  }}

%responsive__desktop__index{
  @media screen and (min-width:(map-get($breakpoints , desktop ))){
  
    
  
  .map__info__lieu{
    flex: 1 10% !important;
  }
  
  #body__index{
    display:flex;
    flex-wrap: wrap;
    & header{
      width: 100vw;
      height: 65px;
          }
    }
    .map{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      background-color: black;
      color: white;
      &.map__titre{
        width: 40%;}
      & .map__form{
        width: 50%;
      }
    }
  
    .stage{

      background-color: white;
      opacity: 0.8;

    & .stage__block{
    
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

    #ohmyfooter__index{
      width: 100vw;
      & ul{
      display: flex;
      & .flist{
        display: flex;
        flex-wrap: wrap;
        width: 30vw;
        }
      }
    }
  #main__index{
    width: 100vw;
  }
  
  .all__restaurants{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 1fr 1fr;
    gap: 10px 10px;
    width: 100vw;
    margin: 0;
  
    & .all__restaurants__header{
      grid-column: 1 /span 2;
      width: 100vw;
      text-align: center;
    }
  
    & .restaurants{
      width: 45vw;
      height: 30vh;
    }
  }
}
}