%flexCol{
  display:flex;
  flex-direction: column;
  
}

%radius{
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

%radius-top-thumbnail{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

%radius-bottom-thumbnail{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

%ombre{
  box-shadow:2px 2px 2px black ;
  border-radius: 15px;

}

%margin-titre{
  margin:0 0 0 10px;
  padding:2px 0 ;
}